* { all: unset; }

@define-color bg      rgba(40, 42, 54, 0.80);
@define-color bg-alt  rgb(40, 42, 54);
@define-color current rgb(98, 114, 164);
@define-color hover   rgb(68, 71, 90);
@define-color fg      rgb(248, 248, 242);
@define-color com     rgb(98, 114, 164);

@define-color c1      rgb(255, 85, 85);
@define-color c2      rgb(255, 184, 108);
@define-color c3      rgb(241, 250, 140);
@define-color c4      rgb(80, 250, 123);
@define-color c5      rgb(139, 233, 253);
@define-color c6      rgb(189, 147, 249);
@define-color c7      rgb(255, 121, 198);

* {
    font-family: "NotoSans Nerd Font";
    font-size:     15px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: @bg-alt;
    border-top: 3px solid @hover;
    border-radius: 8px;
}

.modules-left {
    margin: 8 0 4 7;
}
.modules-center {
    margin: 8 0 4 0;
}
.modules-right {
    margin: 8 7 4 0;
}

#window {
    color: @c6;
    padding: 3px 12px;
    background: @bg;
    border: 2px solid @c6;
    border-radius: 18px;
}

#workspaces {
    padding: 3px 12px;
    background: @bg;
    border: 2px solid @c7;
    border-radius: 18px;
}

#workspaces button {
    padding: 0 3px;
    color:      @fg;
}

#workspaces button.active {
    background: @hover;
    border-bottom: 4px solid @c7;
    border-radius: 4px;
}

#workspaces button:hover {
    background: @hover;
}

#workspaces button.urgent {
    color:      @c1;
}

/*
#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight { 
margin:     0px 0px 0px 0px;
min-width:  25px;
}
 */

#network {
    color: @c4;
}

#clock {
    color: @c6;
    padding: 3px 12px;
    background: @bg;
    border: 2px solid @c6;
    border-radius: 18px;
}

#idle_inhibitor {
    color: @c1;
}

#pulseaudio {
    color: @c4;
    padding: 3px 12px;
    background: @bg;
    border: 2px solid @c4;
    border-radius: 18px;
}

#cpu {
    color: @c1;
}

#memory {
    color: @c5;
}

#disk{
    color: @c6;
    border: 1px solid @c6;
    border-radius: 10px;
}

#temperature {
    color: @c1;
    border: 1px solid @c1;
    border-radius: 10px;
}

#custom-logout {
    color: @c1;
    border: 1px solid @c1;
    border-radius: 10px;
}

#custom-kernel {
    color: @c1;
}


#custom-kill_window {
    color: @c1;
}

#custom-rofi, #custom-icon {
    color: @c5;
    font-size: 20px;
    padding-right: 3px;
    padding: 3px 12px;
    background: @bg;
    border: 2px solid @c5;
    border-radius: 18px;
}

#custom-hyprversion {
    color: @c5;
    padding: 3px 12px;
    background: @bg;
    border: 2px solid @c5;
    border-radius: 18px;
}

#custom-seperator {
    color: transparent;
    padding: 0 6px;
}

#custom-updates {
    color: @c7;
    border: 1px solid @c7;
    border-radius: 10px;
}

#tray {
    padding: 3px 12px;
    background: @bg;
    border: 2px solid @fg;
    border-radius: 18px;
}

#custom-swaync {
    color: @c3;
    padding: 3px 12px;
    background: @bg;
    border: 2px solid @c3;
    border-radius: 18px;
}

#custom-spotify {
    color: @c4;
}

#custom-wttr {
    color: @c2;
    padding: 3px 12px;
    background: @bg;
    border: 2px solid @c2;
    border-radius: 18px;
}

#custom-music {
    color: @c1;
    padding: 3px 12px;
    background: @bg;
    border: 2px solid @c1;
    border-radius: 18px;
}
