/*******************************************************************************
 * DRACULA COLOR SCHEME FOR ROFI
 * User                 : Me
 * Theme Repo           : n/a
 *******************************************************************************/

* {
  bg: #282A36;
  bg-tran: #282A36D9;
  bg-alt: #44475A;
  fg: #F8F8F2;
  com: #6272A4;

  pri: #BD93F9;
  sec: #50FA7B; 

  c1: #FF5555;
  c2: #FFB86C;
  c3: #F1FA8C;
  c4: #50FA7B;
  c5: #8BE9FD;
  c6: #BD93F9;
  c7: #FF79C6;
}
