/*******************************************************************************
 * GRUVBOX COLOR SCHEME FOR ROFI
 * User                 : Me
 * Theme Repo           : n/a
 *******************************************************************************/

* {
  bg: #1d2021;
  bg-tran: #1d2021D9;
  bg-alt: #282828;
  fg: #ebdbb2;
  com: #504945;

  pri: #fe8019;
  sec: #8ec07c;

  c1: #fb3934;
  c2: #fe8019;
  c3: #fabd2f;
  c4: #b8bb26;
  c5: #83a598;
  c6: #d3869b;
  c7: #8ec07c;
}
