/*******************************************************************************
 * GRUVBOX COLOR SCHEME FOR ROFI
 * User                 : Me
 * Theme Repo           : n/a
 *******************************************************************************/

* {
  bg: #282c34;
  bg-tran: #282c34D9;
  bg-alt: #44475A;
  fg: #ABB2BF;
  com: #5c6379;

  pri: #61AFEF;
  sec: #E06C75;

  c1: #E06C75;
c2: #FFB86C;
  c3: #E5C07B;
  c4: #98C379;
  c5: #61AFEF;
  c6: #C678DD;
  c7: #56B6C2;
}
