@define-color bg #282A36;
@define-color bg-alt #44475A;
@define-color fg #F8F8F2;
@define-color com #6272A4;

@define-color pri #BD93F9;
@define-color sec #50FA7B; 

@define-color c1 #FF5555;
@define-color c2 #FFB86C;
@define-color c3 #F1FA8C;
@define-color c4 #50FA7B;
@define-color c5 #8BE9FD;
@define-color c6 #BD93F9;
@define-color c7 #FF79C6;
