@define-color bg #1d2021;
@define-color bg-alt #282828;
@define-color fg #ebdbb2;
@define-color com #504945;

@define-color pri #fe8019;
@define-color sec #8ec07c;

@define-color c1 #fb3934;
@define-color c2 #fe8019;
@define-color c3 #fabd2f;
@define-color c4 #b8bb26;
@define-color c5 #83a598;
@define-color c6 #d3869b;
@define-color c7 #8ec07c;
