@define-color bg #282c34;
@define-color bg-alt #44475A;
@define-color fg #ABB2BF;
@define-color com #5c6379;

@define-color pri #61AFEF;
@define-color sec #E06C75;

@define-color c1 #E06C75;
@define-color c2 #FFB86C;
@define-color c3 #E5C07B;
@define-color c4 #98C379;
@define-color c5 #61AFEF;
@define-color c6 #C678DD;
@define-color c7 #56B6C2;
